body{
  font-size: 16px;
}

#signup{
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 500px;
}

#signup form{
  width: 100%;
}

#signup form input{
  border: 1px solid #333333;
  height: 30px;
  width: 100%;
}

#signup form #btn_create{
  cursor: pointer;
}

#login{
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 500px;
}